{% extends 'default.html.twig' %}

{% block content %}
    <main>
        <section id="content">
            <h1>Total URL Clicks</h1>
            <p>The total number of clicks that your link has received so far.</p>
            <p><strong>{{ url }}</strong></p>
            <div class="squarebox">
                <b>{{ clicks }}</b>
            </div>
            <p>Our tool will count each click as one hit to the long URL, even if there are multiple clicks from the
                same person or device. Check <a href="{{base_url('track')}}">the total number of clicks</a>
                from other
                URL.<br>
            </p>
            <p><a href="{{ base_url() }}" class="colorbutton">Create other shortened URL</a></p>
        </section>
    </main>
{% endblock %}

